USE [R4]
GO
/****** Object:  Table [dbo].[STI]    Script Date: 15.01.2018 00:57:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IslemTur] [smallint] NOT NULL,
	[EvrakNo] [varchar](16) NOT NULL,
	[Tarih] [int] NOT NULL,
	[MalKodu] [varchar](30) NOT NULL,
	[Miktar] [numeric](25, 6) NOT NULL,
	[Fiyat] [numeric](25, 6) NOT NULL,
	[Tutar] [numeric](25, 6) NOT NULL,
	[Birim] [varchar](4) NOT NULL,
 CONSTRAINT [pkSTI] PRIMARY KEY CLUSTERED 
(
	[EvrakNo] ASC,
	[Tarih] ASC,
	[IslemTur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STK]    Script Date: 15.01.2018 00:57:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MalKodu] [varchar](30) NOT NULL,
	[MalAdi] [varchar](50) NOT NULL,
 CONSTRAINT [pkSTK] PRIMARY KEY CLUSTERED 
(
	[MalKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[STI] ON 

GO
INSERT [dbo].[STI] ([ID], [IslemTur], [EvrakNo], [Tarih], [MalKodu], [Miktar], [Fiyat], [Tutar], [Birim]) VALUES (608, 0, N'   24111', 42698, N'10086 SİEMENS', CAST(240.000000 AS Numeric(25, 6)), CAST(0.000000 AS Numeric(25, 6)), CAST(0.000000 AS Numeric(25, 6)), N'ADET')
GO
INSERT [dbo].[STI] ([ID], [IslemTur], [EvrakNo], [Tarih], [MalKodu], [Miktar], [Fiyat], [Tutar], [Birim]) VALUES (609, 1, N'   24111', 42698, N'10086 SİEMENS', CAST(240.000000 AS Numeric(25, 6)), CAST(0.000000 AS Numeric(25, 6)), CAST(0.000000 AS Numeric(25, 6)), N'ADET')
GO
INSERT [dbo].[STI] ([ID], [IslemTur], [EvrakNo], [Tarih], [MalKodu], [Miktar], [Fiyat], [Tutar], [Birim]) VALUES (170, 0, N'  000029', 42782, N'10081 SİEMENS', CAST(1.000000 AS Numeric(25, 6)), CAST(14.400000 AS Numeric(25, 6)), CAST(14.400000 AS Numeric(25, 6)), N'ADET')
GO
SET IDENTITY_INSERT [dbo].[STI] OFF
GO
SET IDENTITY_INSERT [dbo].[STK] ON 

GO
INSERT [dbo].[STK] ([ID], [MalKodu], [MalAdi]) VALUES (6, N'10081 SİEMENS', N'NB MONOFAZE OTOMATLAR')
GO
INSERT [dbo].[STK] ([ID], [MalKodu], [MalAdi]) VALUES (7, N'10082 SİEMENS', N'5SQ2160-2YA10 B 10A  OTOMATİK SİGORTA')
GO
INSERT [dbo].[STK] ([ID], [MalKodu], [MalAdi]) VALUES (8, N'10083 SİEMENS', N'5SQ2160-2YA16 B 16A  OTOMATİK SİGORTA')
GO
SET IDENTITY_INSERT [dbo].[STK] OFF
GO
/****** Object:  StoredProcedure [dbo].[LISTELE]    Script Date: 15.01.2018 00:57:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[LISTELE]
@BASTAR INT,
@BITTAR INT,
@VALUE NVARCHAR(50)
AS
--Oluşturulacak Yapay Tablolar sistemdeki kontrolü
IF(ISNULL(OBJECT_ID('tempdb..#TAB1'),0) !=0) BEGIN DROP TABLE #TAB1 END 
IF(ISNULL(OBJECT_ID('tempdb..#TAB2'),0) !=0) BEGIN DROP TABLE #TAB2 END
--Yapay tabloların sistemde yaratılması
CREATE TABLE #TAB1 (SIRANO INT,ISLEMTIPI SMALLINT,EVRAKNO NVARCHAR(50)
,TARIH NVARCHAR(15),MIKTAR NUMERIC)
CREATE TABLE #TAB2 (SIRANO INT,ISLEMTIPI SMALLINT,EVRAKNO NVARCHAR(50)
,TARIH NVARCHAR(15),MIKTAR NUMERIC,STOK_MIKTAR NUMERIC)
--İlk yapay tablomuza verilerin eklenmesi
INSERT INTO #TAB1
SELECT 
K.ID
,K.IslemTur
,K.EvrakNo
,CONVERT(NVARCHAR(15),CAST(K.Tarih - 2 AS DATETIME), 104)
,SUM(K.Miktar)
FROM dbo.STI K WITH (NOLOCK)
INNER JOIN dbo.STK C WITH (NOLOCK) ON K.MalKodu=C.MalKodu
WHERE (K.Tarih BETWEEN @BASTAR AND @BITTAR)
AND (@VALUE='' OR (C.MalAdi LIKE '%'+@VALUE+'%') OR (C.MalKodu LIKE '%'+@VALUE+'%'))
GROUP BY K.ID,K.IslemTur,K.EvrakNo,K.Tarih,K.Miktar

--Ilgılı parametreler @TPL parametresi ile Stok Miktarı hesaplanacak
DECLARE @SIRANO INT
DECLARE @ISLEMTUR SMALLINT
DECLARE @EVRAKNO NVARCHAR(30),@TARIH NVARCHAR(15)
DECLARE @MIKTAR NUMERIC,@TPL NUMERIC
SET @TPL=0
--Oluşturduğumuz ilk yapay tablodaki verileri cursora tanımlıyoruz
DECLARE CRS_R4 CURSOR FOR
SELECT K.SIRANO,K.ISLEMTIPI,K.EVRAKNO,K.TARIH,K.MIKTAR FROM #TAB1 K ORDER BY K.SIRANO
--Cursor açılımı
OPEN CRS_R4
--Her döngüde gönderilecek Parametreler
FETCH NEXT FROM CRS_R4 INTO @SIRANO,@ISLEMTUR,@EVRAKNO,@TARIH,@MIKTAR
WHILE @@FETCH_STATUS =0  -->0 olumlu,-1 olumsuz,-2 null 
BEGIN 
    --StokMiktarının hesaplanması
    SET @TPL = (CASE WHEN @ISLEMTUR=0 THEN @TPL+@MIKTAR ELSE @TPL-@MIKTAR END)
	--İkinci yapay tablomuza verilerin eklenmesi
	INSERT INTO #TAB2
	SELECT @SIRANO,@ISLEMTUR,@EVRAKNO,@TARIH,@MIKTAR,@TPL
	--Sıradaki satıra geçiş
FETCH NEXT FROM CRS_R4 INTO @SIRANO,@ISLEMTUR,@EVRAKNO,@TARIH,@MIKTAR
 END
--Cursor kapanması bölümü
CLOSE CRS_R4
--Cursor sistemden temizlenmesi bir nevi dispose edilmesi
DEALLOCATE CRS_R4

--Talep edilen Tablo 
SELECT 
K.SIRANO AS SiraNo
,(CASE WHEN K.ISLEMTIPI=0 THEN  'Giriş' ELSE 'Çıkış' END) AS [İşlem Tipi]
,K.EVRAKNO AS EvrakNo
,K.TARIH as Tarih 
,(CASE WHEN K.ISLEMTIPI=0 AND K.MIKTAR<>0 THEN K.MIKTAR ELSE 0 END) AS [Giriş Miktar]
,(CASE WHEN K.ISLEMTIPI=1 AND K.MIKTAR<>0 THEN K.MIKTAR ELSE 0 END) AS [Çıkış Miktar]
,K.STOK_MIKTAR AS [Stok Miktar]
FROM #TAB2 K
--Oluşturulan ve kullanılan yapay tabloların sistemden silinmesi
IF(ISNULL(OBJECT_ID('tempdb..#TAB1'),0) !=0) BEGIN DROP TABLE #TAB1 END
IF(ISNULL(OBJECT_ID('tempdb..#TAB2'),0) !=0) BEGIN DROP TABLE #TAB2 END

GO
